* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

body {
	background-color: #888;
}

div {
	padding: 25px;
	margin-bottom: 10px;
	background-color: #eee;
	color: #888;
}

section {
	padding: 25px;
	margin-bottom: 10px;
	background-color: #eee;
	color: #888;
}

article {
	padding: 25px;
	margin-bottom: 10px;
	background-color: #888;
	color: white;
}

#threeHeaders {
	color: #888;
	font-weight: bold;
}

#paragraph {
	color: #888;
}

footer {
	padding: 25px;
	margin-bottom: 10px;
	background-color: #eee;
	color: #888;
}